.cart {
  display: flex;
  justify-content: space-around;
  text-align: center;
  max-width: 1500px;
  margin: auto;
  border: 1px solid gray;
  justify-content: space-around;
}

.description {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 padding: 0 1rem;
}

.img-fluid {
  width: 150px;
}

.quantity {
 padding: 1rem;
}
.close{
  justify-content: flex-end;
}